{% extends 'layout/base.html' %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-3 shadow">
                        <div class="card-body">
                            <div class="media">
                                <img src="{{ object.author.profile.image.url }}" class="rounded-circle mr-3">
                                <div class="media-body">
                                    <a href="{% url 'user-posts' object.author.username %}" class="mt-0">{{ object.author }}</a>
                                    <small class="text-muted">{{ object.date_posted|date:"d F Y" }}</small>
                                    {% if object.author == user %}
                                        <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mb-1 mt-1">Modifier</a>
                                        <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mb-1 mt-1">Supprimer</a>
                                    {% endif %}
                                    <hr>
                                    <h2 class="h4">{{ object.title }}</h2>
                                    <p>{{ object.content|urlize|linebreaksbr  }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action active">
                        Cras justo odio
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
